
/* Global Styling Constants */

:root {
    --leftalign-margin: 10vw;
    --rightalign-margin: 10vw;
    --center-margin: 10vw;
}

/* Links */

a {
    text-decoration: none;
    color: unset;
}

.languageselect {
    z-index: 10;
    position: absolute;
    left: 1em;
}

/* Logo */

body, html {
    padding: 0px;
    margin: 0px;

    /* scroll-snap-type: proximity;
    scroll-snap-type: y proximity;
    scroll-snap-stop: always; */
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    z-index: 2;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0px;
    left: 0px;
}

.logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo > embed {
    width: 50%;
}

.logo-container > :is(h1, h2, h3, h4, h5, h6) {
    padding: 0px 2em 0px 2em;
}

.container :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 0.5em;
    margin-bottom: 0px;
}

/* Beautification */

    /* Cool ass fade thing I just thought of */

    
    .fade {
        transition: 750ms cubic-bezier(0.25, 0.46, 0.45, 0.94) background-color;
        background-color: inherit;
    }
    
    .fade:not(.faded) {
        transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) background-color;
        -webkit-transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) background-color;
    }

    .faded {
        background-color: var(--fade-color) !important;
    }

    /* Headers */

    .textbox :is(h1, h2) {
        border-bottom: 5px solid black;
        padding-bottom: 2px;
        width: min-content;
        display: block;
    }

    .textbox.right h1 {
        margin-left: auto;
    }

    .textbox h3 {
        margin-bottom: 0.25em;
    }

    /* Textbox Font & Size */

    .textbox p {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* font-size: large; */
        margin-top: 0.35em;
    }

        /* Textbox Buttons */

        .textbox button {
            width: 80%;
            background-color: var(--color-primary);
            border: 1px solid black;
            border-radius: 1em;
            font-size: large;
            padding: 10px 0px 10px 0px;
        }

        .textbox button:hover {
            background-color: var(--color-accent);
            /* filter: contrast(0.25); */
        }
        
        .textbox button:active {
            /* background-color: rgb(255, 240, 40); */
            box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.75) inset;
        }

        .textbox button:active span {
            position: relative;
            top: -0.2%;
            left: -0.4%;
        }

    /* Parallax */

    .parallax {
        min-height: 100%
    }

    /* Image Resizing */

    .imgbox .container img {
        height: 100% !important;
        width: unset;
        display: block;
        margin-right: calc(0px - var(--minor));
    }

    .imgbox.normal {
        margin-left: 0px;
        margin-right: 0px;
    }

    .imgbox.normal img.right {
        margin-right: var(--rightalign-margin);
    }

    .imgbox.normal img.left {
        margin-left: var(--leftalign-margin);
    }

    .imgbox.wrapped {
        width: 100% !important;
    }

        /* Image layout */
        .imgbox *:is(.right) {
            width: 100%;
            margin-right: -15%;
            filter: drop-shadow(rgba(0, 0, 0, 0.25) -1rem 1rem 10px);
            border-radius: var(--minor);
            border-bottom-left-radius: var(--major);
        }

        .imgbox *:is(.left) {
            width: 100%;
            margin-left: -15%;
            margin-right: auto;
            filter: drop-shadow(rgba(0, 0, 0, 0.25) 1rem 1rem 10px);
            border-radius: var(--minor);
            border-bottom-right-radius: var(--major);
        }

        .imgbox :is(p, h1, h2, h3) {
            text-align: center;
            padding-left: 2em;
            padding-right: 2em;
            font-family: Arial, Helvetica, sans-serif;
        }

        img.right ~ :is(p, h1, h2, h3) {
            margin-left: calc(15% + var(--major));
        }

        .imgbox.bottom :is(p, h1, h2, h3) {
            margin-right: calc(15% + var(--minor));
            vertical-align: bottom;
        }


    /* Flex Style Hacking */

    .nofloat {
        float: none !important;
    }

    /* Textbox > Flex */

    .textbox > .flex {
        width: 100%;
    }

    /* Slide-in */

    .left .slide-in {
        animation: 250ms ease-out 0s 1 slideInFromLeft forwards;
        -webkit-animation: 250ms ease-out 0s 1 slideInFromLeft forwards;
    }

    .right .slide-in {
        animation: 250ms ease-out 0s 1 slideInFromRight forwards;
        -webkit-animation: 250ms ease-out 0s 1 slideInFromRight forwards;
    }

    @keyframes slideInFromLeft {
        0% {
            transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
            -webkit-transform: translateX(0);
        }
    }

    @keyframes slideInFromRight {
        0% {
            transform: translateX(100%);
            -webkit-transform: translateX(100%);
        }
        100% {
            transform: translateX(0);
            -webkit-transform: translateX(0);
        }
    }

/* Page Framework */

.page-content {
    width: 100%;
    height: fit-content;
}

.page-block {
    width: 100%;
    height: fit-content;
    min-height: var(--block-height, 10em);

    scroll-snap-align: start;
    overflow:hidden;
}
    /* Colors */

    .primary {
        background-color: var(--color-primary);
    }

    .secondary {
        background-color: var(--color-secondary);
    }

    .tertiary {
        background-color: var(--color-tertiary);
    }

    .light {
        background-color: var(--color-light);
    }

    .dark {
        background-color: var(--color-dark) !important;
    }

        /* Dark Text */

        .dark :is(h1, h2, h3, h4, p) {
            color: whitesmoke;
        }

    /* Layout */
    
    .whatever { /* Bypass minimum height lol */
        min-height: none;
        height: var(--block-height);
    }

    .spacer {
        height: var(--block-height);
    }

    .textbox {
        width: 300px;
    }

    .flex {
        width: 100% !important;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;

        gap: 3em;
    }

    .flex .imgbox:has(.right) {
        width: 50%;
        margin-left: auto;
    }

    .flex .imgbox:has(.left) {
        width: 50%;
        margin-right: auto;
    }

    .imgbox {
        --minor: 2em;
        --major: 5em;

        display: flex;
        flex-direction: column;
    }


    /* Cheating the image system for cool embeds. */

        .img-filler {
            --padding: 5px;

            width: calc(100% - 15% - var(--padding));
            height: 500px;

            padding-top: var(--padding);
            padding-bottom: var(--padding);
            /* background-color: black; */
        }

        .left .img-filler {
            margin-left: calc(15%);
        }

        .right .img-filler {
            margin-right: calc(15%);
        }

        .img-filler .container {
            background-color: white;
            width: 100%;
            height: 100%;
            overflow: hidden;

            margin-bottom: -5px;
        }

        .left .img-filler .container {
            border-top-right-radius: calc(var(--minor) - var(--padding));
            border-bottom-right-radius: calc(var(--major) - var(--padding));
        }

        .right .img-filler .container {
            border-top-left-radius: calc(var(--minor) - var(--padding));
            border-bottom-left-radius: calc(var(--major) - var(--padding));
        }

        .img-filler .container img {
            height: 100%;
        }

    /* Alignment */

    .left {
        text-align: left;
        float: left;
        margin-right: auto;
        margin-left: var(--leftalign-margin);
    }

    .middle {
        text-align: center;
    }

    .bottom {
        margin-top: auto;
    }

    .right {
        text-align: right;
        float: right;
        margin-left: auto;
        margin-right: var(--rightalign-margin);
    }

    .center {
        margin-left: var(--center-margin);
        margin-right: var(--center-margin);
        width: unset !important;
    }

    .center.flex {
        justify-content: center;
    }

    .center:is(h1, h2, h3, h4, h5, h6, p) {
        text-align: center;
    }

.home-bg {
    width: 100%;
    height: auto;
}

/* Scrollers */
.scrolling {
    display: flex;
    flex-direction: row;
    gap: var(--element-gap);
    text-align: center;
    padding: var(--padding);
    padding-right: calc(var(--padding) * 2);
    position: relative;
    float: left;
    width: 10em;
    overflow: hidden;

    mask-image: linear-gradient(to left, transparent 0em, black var(--fade-depth), black calc(100% - var(--fade-depth)), transparent 100%);
    -webkit-mask-image: linear-gradient(to left, transparent 0em, black var(--fade-depth), black calc(100% - var(--fade-depth)), transparent 100%);
}

h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.scrolling > h1 {
    text-align: center;
    transition: all 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    width: fit-content;
    flex-basis: max-content;
    flex-grow: 0;
    flex-shrink: 0;

    font-family: "Boris Black";
    letter-spacing: 0.05rem;
    font-weight: 100;
}


.scrolling > div {
    text-align: left;
    width: fit-content;
    height: max-content;
    /* flex-basis: max-content; */
    flex-grow: 0;
    flex-shrink: 0;
    overflow: visible;
    transition: all 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.scrolling > div > * {
    font-family: Arial, Helvetica, sans-serif;
}

.scroller-container {
    display: flex;
    gap: 1em;
    /* height: 100%; */
    flex-grow: 1;
}

.scroller-container > div:not(.scroller-content) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    user-select: none;
}

.scroller-content {
    width: 100%;
    position: relative;
    display: flex;
}

